/* Global styles */
html {
    background-color: #1e1e2e;
    color: #fdebf3;
}

body {
    max-width: 540px;
    margin: 0 auto;
    text-align: justify;
}

/* Headings */
h1, h2 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
    margin: 0;
}

h2 {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
    font-size: 2.1em;
    margin-bottom: 0;
}

/* Paragraphs */
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    hyphens: auto;
    line-height: 1.5;
    text-indent: 1em;
}

/*Artwork displays */
.image-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    margin-top: 25px; 
    margin-bottom: 25px;
}

  .image-item { 
    text-align: center; /* For descriptions */
    margin: 0 25px;
  }

  .artwork-image {
    max-width: 100%; /* Images will not exceed their natural size */
    max-height: 450px; /* Set a maximum height as needed */
  }


/* Gifs */
.gif {
    margin: 20px 0 0 0;
    text-align: center;
}

.gif img {
    border-radius: 50%;
    overflow: hidden;
}

/* Navigation Bar */
.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.8rem;
}

.title-link, .nav-links {
    font-family: 'Pacifico', cursive;
    font-size: 1.3rem;
}

.title-link a, .nav-links a {
    color: #fdebf3;
    text-decoration: none;
}

.title-link a:hover, .nav-links a:hover, a:focus {
    text-decoration: underline #375a7f;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.nav-links {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    text-align: right;
}

.nav-links a {
    margin: 0 13px;
}

/* Card listing */
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
}

.link-card-grid img {
    max-width: 100%; /* Make the image responsive within the card */
    max-height: 150px; /* Set a maximum height for the image */
    width: auto; /* Ensure the width is responsive */
    height: auto; /* Maintain the aspect ratio */
}

/* Theme Icon */
html.light {
    background-color: #fdebf3;
    color: #1e1e2e;
}

.light .title-link a {
    color: #1e1e2e;
}

.light .card-title {
    color: #1e1e2e; 
}

.light .card-txt {
    color: #1e1e2e; 
}

.light .nav-links a {
    color: #1e1e2e;
}

.light .link-card > a {
    color: #1e1e2e; 
}

.light button {
    color: #1e1e2e;
}

.light button:hover {
    color: #fdebf3;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    body {
        width: 320px;
    }

    .nav-bar {
        display: initial;
    }

    .title-link {
        text-align: center;
    }

    .nav-links {
        text-align: center;
    }

    .nav-links a {
        margin: 0 11px;
    }
}
