---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Digital Drawings";
---
<Layout pageTitle={pageTitle}>

    <h2>Adobe Illustrator</h2>

  <div class="image-container">
    <div class="image-item">
        <img src="/noodles image.jpg" alt="Noodles" class="artwork-image" />
        <p>Created: Spring 2022 Revisited: 08/17/2023</p>
    </div>

    <div class="image-item">
        <img src="/devil on her shoulder.jpg" alt="Devil on her shoulder" class="artwork-image" />
        <p>Created: 10/13/2022 Reference: <a href="https://x.com/SVV_ART/status/1435201049003012098?s=20">Link</a></p>
    </div>
  </div>

  <div class="image-container">
    <div class="image-item">
        <img src="/cat hat.jpg" alt="Cat hat" class="artwork-image" />
        <p>Created: 10/09/2022</p>
    </div>

    <div class="image-item">
        <img src="/shrimp fried rice.png" alt="Shrimp fried rice" class="artwork-image" />
        <p>Created: 11/18/2022</p>
    </div>
  </div>

    <div class="image-container">
    <div class="image-item">
        <img src="/helmet man.png" alt="Helmet man" class="artwork-image" />
        <p>Created: 08/17/2023 Reference: <a href="https://pin.it/4coVlLp">Link</a></p>
    </div>

    <div class="image-item">
        <img src="/spaghetti.png" alt="Spaghetti time" class="artwork-image" />
        <p>Created: 10/09/2022</p>
    </div>
  </div>


<div class="image-container">
    <div class="image-item">
        <img src="/cozy.png" alt="Comfy cat" class="artwork-image" />
        <p>Created: 04/19/2023 Reference: <a href="https://pin.it/4yJcttY">Link</a></p>
    </div>

    <div class="image-item">
        <img src="/inktober - the devils tattoo - oct 6.png" alt="The devil's tattoo" class="artwork-image" />
        <p>Created: 10/06/2023 Class: ARTD 250 Assignment: Inktober</p>
    </div>
  </div>


</Layout>
