---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Digital Drawings";
---
<Layout pageTitle={pageTitle}>

    <h2>Physical Art Pieces</h2>

    <div class="image-container">
    <div class="image-item">
        <img src="/cheese_mold.png" alt="Cheese mold" class="artwork-image" />
        <p>Created: 05/30/2023 Class: Core Interdisciplinary Lab</p>
    </div>

    <div class="image-item">
        <img src="/20230315_094418.jpg" alt="Charcoal drawing" class="artwork-image" />
        <p>Created: 02/27/2023 Class: Drawing 1</p>
    </div>
  </div>

    <div class="image-container">
    <div class="image-item">
        <img src="/20210919_224206.jpg" alt="Flower mask" class="artwork-image" />
        <p>Created: 09/19/2021</p>
    </div>

    <div class="image-item">
        <img src="/20210920_220251.jpg" alt="Uzumaki" class="artwork-image" />
        <p>Created: 09/20/2021</p>
    </div>
  </div>


</Layout>