---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Digital Drawings";
---
<Layout pageTitle={pageTitle}>

    <h2>Adobe Photoshop</h2>

    <div class="image-container">
    <div class="image-item">
        <img src="/y2k cyber.png" alt="Cyber wallpaper" class="artwork-image" />
        <p>Created: 00/00/0000 Reference images: ??</p>
    </div>

    <div class="image-item">
        <img src="/blue metal.png" alt="Blue metal" class="artwork-image" />
        <p>Created: 00/00/0000 Reference Images: ??</p>
    </div>
  </div>

      <div class="image-container">
    <div class="image-item">
        <img src="/supra cyber wallpaper.png" alt="Supra cyber" class="artwork-image" />
        <p>Created: 00/00/0000 Reference Images: ????</p>
    </div>

    <div class="image-item">
        <img src="/neon.png" alt="Neon" class="artwork-image" />
        <p>Created: 00/00/0000 Reference Images: ????</p>
    </div>
  </div>

<div class="image-container">
    <div class="image-item">
        <img src="/blue 777.png" alt="Blue 777" class="artwork-image" />
        <p>Created: 00/00/0000 Reference Images: ????</p>
    </div>

    <div class="image-item">
        <img src="/peaceful agony.png" alt="Red cyber city" class="artwork-image" />
        <p>Created: 00/00/0000 Reference Images: ????</p>
    </div>
  </div>

  <div class="image-container">
    <div class="image-item">
        <img src="/death_surfing.jpg" alt="Death surfing" class="artwork-image" />
        <p>Created: 00/00/0000 Reference Images: ????</p>
    </div>

    <div class="image-item">
        <img src="/outfit inspo brah.png" alt="Outfit inspiration" class="artwork-image" />
        <p>Created: 00/00/0000 Reference Images: ????</p>
    </div>
  </div>

</Layout>