---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Digital Drawings";
---
<Layout pageTitle={pageTitle}>

    <h2>Adobe Photoshop</h2>

<p>These collages make use of found photos from Pinterest that I have edited 
to remove backgrounds and isolate particular objects. I discovered this mode of creation this past academic year 
in ART 115 when we made collages from magazines.</p>

    <div class="image-container">
    <div class="image-item">
        <img src="/y2k cyber.png" alt="Cyber wallpaper" class="artwork-image" />
        <p>Created: 06/09/2023</p>
    </div>

    <div class="image-item">
        <img src="/blue metal.png" alt="Blue metal" class="artwork-image" />
        <p>Created: 12/14/2023</p>
    </div>
  </div>

      <div class="image-container">
    <div class="image-item">
        <img src="/supra cyber wallpaper.png" alt="Supra cyber" class="artwork-image" />
        <p>Created: 08/14/2023</p>
    </div>

    <div class="image-item">
        <img src="/neon.png" alt="Neon" class="artwork-image" />
        <p>Created: 05/25/2023</p>
    </div>
  </div>

<div class="image-container">
    <div class="image-item">
        <img src="/blue 777.png" alt="Blue 777" class="artwork-image" />
        <p>Created: 10/14/2023</p>
    </div>

    <div class="image-item">
        <img src="/peaceful agony.png" alt="Red cyber city" class="artwork-image" />
        <p>Created: 06/06/2023</p>
    </div>
  </div>

  <div class="image-container">
    <div class="image-item">
        <img src="/death_surfing.jpg" alt="Death surfing" class="artwork-image" />
        <p>Created: 04/21/2023</p>
    </div>

    <div class="image-item">
        <img src="/outfit inspo brah.png" alt="Outfit inspiration" class="artwork-image" />
        <p>Created: 08/16/2023</p>
    </div>
  </div>

</Layout>