---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Digital Drawings";
---
<Layout pageTitle={pageTitle}>

    <h2>Adobe Photoshop</h2>

    <div class="image-container">
    <div class="image-item">
        <img src="/conetemp.jpg" alt="Cone head" class="artwork-image" />
        <p>Created: 00/00/0000 Reference: <a href="https://pin.it/5MppNIR">Link</a></p>
    </div>

    <div class="image-item">
        <img src="/nissan 240sx blossom pixel.png" alt="Nissan 240sx" class="artwork-image" />
        <p>Created: 00/00/0000 Reference: <a href="https://pin.it/4HVAAr6">Link</a> Note: photo background</p>
    </div>
  </div>

      <div class="image-container">
    <div class="image-item">
        <img src="/toro inoue.png" alt="Toro inoue in space" class="artwork-image" />
        <p>Created: 00/00/0000 Reference: <a href="https://pin.it/75uWBpO">Link</a></p>
    </div>

    <div class="image-item">
        <img src="/Cowboy BMO.png" alt="Cowboy BMO" class="artwork-image" />
        <p>Created: 00/00/0000 Reference: <a href="https://pin.it/3mqA26d">Link</a></p>
    </div>
  </div>



</Layout>