---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Works";
---
<Layout pageTitle={pageTitle}>
    
<!--    
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>
-->

    <h2>Artwork</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="/digital_drawings"
            image="/lights(1).png"
            title="Digital Drawings"
            body="Vector based drawings"
        />
        <Card
            href="/pixel_art"
            image="/conetemp.jpg"
            title="Pixel Art"
            body="Pixel based drawings"
        />
        <Card
            href="/photo_collages"
            image="/yellow.png"
            title="Photo Collages"
            body="Found photo digital collages"
        />

         <Card
            href="/other_works"
            image="/cheese_mold.png"
            title="Other Works"
            body="Traditional art and other pieces"
        />
    </ul>
    <h2>Youtube</h2>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://youtu.be/TThyWocTv48?si=FBMfKAoawmclCZ6g"
            image="/youtube.png"
            title="Remix Project"
            body="ARTD 251 Fall 2022"
        />
        
        <Card
            href="https://youtu.be/lGshdWuLWHg?si=nmShFMKnwnABkuCm"
            image="/youtube.png"
            title="Stop Motion Project"
            body="ARTD 251 Fall 2022"
        />
    </ul>
</Layout>
